<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="android.leonardo.com.br.boa_viagem">
    <permission
        android:name ="android.leonardo.com.br.boa_viagem.provider.permission.READ_PROVIDER"
        android:protectionLevel = "signature"/>
    <permission
        android:name ="android.leonardo.com.br.boa_viagem.provider.permission.WRITE_PROVIDER"
        android:protectionLevel = "signature"/>

    <uses-permission
        android:name="android.leonardo.com.br.boa_viagem.provider.permission.READ_PROVIDER"/>

    <uses-permission
        android:name="android.leonardo.com.br.boa_viagem.provider.permission.WRITE_PROVIDER"/>


    <application
        android:theme="@style/Theme.AppCompat">
        <activity
            android:label="@string/app_name"
            android:name=".BoaViagemActivity"

            >

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category
                    android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:label="@string/app_name"
            android:name=".DashboardActivity" />
        <activity
            android:label="@string/app_name"
            android:name=".ViagemActivity" />
        <activity
            android:label="@string/app_name"
            android:name=".GastoActivity"/>

        <activity android:name=".ViagemListActivity"/>
        <activity
            android:label="@string/app_name"
            android:name=".GastoListActivity"/>
        <activity
            android:label="@string/app_name"
            android:name=".ConfiguracoesActivity"/>


        <provider


            android:name=".provider.BoaViagemProvider"
            android:authorities="android.leonardo.com.br.boa_viagem.provider"

            android:readPermission="android.leonardo.com.br.boa_viagem.provider.permission.READ_PROVIDER"
            android:writePermission="android.leonardo.com.br.boa_viagem.provider.permission.WRITE_PROVIDER"
            >




        </provider>




    </application>
</manifest>